@font-face {
    font-family: 'valorant';
    src: url('./media/valorant/Valorant Font.ttf');
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

html,
body {
    position: relative;
    height: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: rgb(26, 26, 26);
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.infos {
    max-width: 640px;
    position: relative;
    display: flex;
    width: 50%;
    color: white;
    display: flex;
    flex-direction: column;
    padding-left: 100px;
}

.name {
    font-size: 3rem;
    margin: 0;
    text-align: left;
    font-family: 'valorant';
}

.desc {
    letter-spacing: 2px;
    text-align: left;
    font-size: 1rem;
}


.illustration {
    max-width: 640px;
    width: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.displayIllustration {
    height: 50rem;
    position: absolute;
}

.displayBackground {
    width: 10000px
}

@media only screen and (max-width: 794px) {
    .swiper-slide {
            flex-direction: column;
            align-items: center;
        }
        .infos {
            padding: 0;
            margin: 50px 0 -70px 0;
        }
        .name {text-align: center;}
        .desc {text-align: center;}
}